<div class="background">
    <div class="text-dark text-center rgba-stylish-strong py-5 px-4">
        <div class="py-5">

            <h5 class="h5 orange-text">System bankowości online</h5>
            <h2 class="card-title h2 my-4 py-2">Jumbotron with image overlay</h2>
            <p class="mb-4 pb-2 px-md-5 mx-md-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur
                obcaecati vero aliquid libero doloribus ad, unde tempora maiores, ullam, modi qui quidem minima debitis
                perferendis vitae cumque et quo impedit.</p>
                <button mat-raised-button class="green-button mr-2">Logowanie</button>
                <button mat-raised-button class="blue-button">Rejestracja</button>

        </div>
    </div>
</div>