<div class="box mat-elevation-z8 mb-2">
    <mat-toolbar>Zarządzanie pracownikami</mat-toolbar>

    <div [hidden]="isLoading" class="mat-elevation-z1">
        <table mat-table [dataSource]="employeeList">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Identyfikator </th>
                <td mat-cell *matCellDef="let element"> {{element.identifier}}</td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}}
                </td>
            </ng-container>

            <ng-container matColumnDef="locked">
                <th mat-header-cell *matHeaderCellDef> Zablokowany </th>
                <td mat-cell *matCellDef="let element">
                    <span style="cursor: pointer"
                        (click)="changeEmployeeStatus(element.id)">{{element.locked ? 'Tak' : 'Nie'}}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="details">
                <th mat-header-cell *matHeaderCellDef> Szczegóły </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button color="primary" (click)="openDetailsDialog(element.id)">Wyświetl</button>
                </td>
            </ng-container>

            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef> Edycja </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button color="primary" (click)="openEditDialog(element.id)">Edytuj</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="employeeTabColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: employeeTabColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    </div>

    <hr />

    <mat-toolbar>Dodawanie pracownika</mat-toolbar>

    <form [formGroup]="form" (ngSubmit)="sendRegisterForm()" #formDirective="ngForm">
        <div class="mt-2 px-3">
            <div class="row">
                <div class="col-6">
                    <mat-form-field>
                        <input matInput placeholder="Hasło" type="password" formControlName="password">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field>
                        <input matInput placeholder="Potwierdzenie hasła" type="password"
                            formControlName="confirmPassword">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-8">
                    <mat-form-field>
                        <input matInput placeholder="Adres email" type="email" formControlName="email">
                        <mat-error
                            *ngIf="form.get('email').hasError('email') && !form.get('email').hasError('required')">
                            Wprowadź poprawny adres email
                        </mat-error>
                        <mat-error *ngIf="form.get('email').hasError('required')">
                            Email jest <strong>wymagany</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-4">

                    <div formGroupName="address">
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker" [min]="minDate" [max]="currentDate"
                                placeholder="Data urodzenia" formControlName="dateOfBirth">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <hr />

            <div formGroupName="address">
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field>
                            <input matInput placeholder="Imię" formControlName="name">
                            <mat-error
                                *ngIf="form.get('address').get('name').hasError('minlength') && !form.get('address').get('name').hasError('required')">
                                Imię jest za krótkie
                            </mat-error>
                            <mat-error
                                *ngIf="form.get('address').get('name').hasError('maxlength') && !form.get('address').get('name').hasError('required')">
                                Imię jest za długie
                            </mat-error>
                            <mat-error *ngIf="form.get('address').get('name').hasError('required')">
                                Imię jest <strong>wymagane</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <input matInput placeholder="Nazwisko" formControlName="surname">
                            <mat-error
                                *ngIf="form.get('address').get('surname').hasError('minlength') && !form.get('address').get('surname').hasError('required')">
                                Nazwisko jest za krótkie
                            </mat-error>
                            <mat-error
                                *ngIf="form.get('address').get('surname').hasError('maxlength') && !form.get('address').get('surname').hasError('required')">
                                Nazwisko jest za długie
                            </mat-error>
                            <mat-error *ngIf="form.get('address').get('surname').hasError('required')">
                                Nazwisko jest <strong>wymagane</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <input matInput placeholder="Nr telefonu" type="number" formControlName="phoneNumber">
                            <mat-error
                                *ngIf="form.get('address').get('phoneNumber').hasError('minlength') && !form.get('address').get('phoneNumber').hasError('required')">
                                Numer telefonu jest za krótki
                            </mat-error>
                            <mat-error
                                *ngIf="form.get('address').get('phoneNumber').hasError('maxlength') && !form.get('address').get('phoneNumber').hasError('required')">
                                Numer telefonu jest za długi
                            </mat-error>
                            <mat-error *ngIf="form.get('address').get('phoneNumber').hasError('required')">
                                Numer telefonu jest <strong>wymagany</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <mat-form-field>
                            <input matInput placeholder="Miejscowość" formControlName="city">
                            <mat-error
                                *ngIf="form.get('address').get('city').hasError('minlength') && !form.get('address').get('city').hasError('required')">
                                Miejscowość jest za krótka
                            </mat-error>
                            <mat-error
                                *ngIf="form.get('address').get('city').hasError('maxlength') && !form.get('address').get('city').hasError('required')">
                                Miejscowość jest za długa
                            </mat-error>
                            <mat-error *ngIf="form.get('address').get('city').hasError('required')">
                                Miejscowość jest <strong>wymagana</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field>
                            <input matInput placeholder="Ulica" formControlName="street">
                            <mat-error
                                *ngIf="form.get('address').get('street').hasError('minlength') && !form.get('address').get('street').hasError('required')">
                                Ulica jest za krótka
                            </mat-error>
                            <mat-error
                                *ngIf="form.get('address').get('street').hasError('maxlength') && !form.get('address').get('street').hasError('required')">
                                Ulica jest za długa
                            </mat-error>
                            <mat-error *ngIf="form.get('address').get('street').hasError('required')">
                                Ulica jest <strong>wymagana</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <mat-form-field>
                            <input matInput placeholder="Numer mieszkania" formControlName="houseNumber">
                            <mat-error
                                *ngIf="form.get('address').get('houseNumber').hasError('minlength') && !form.get('address').get('houseNumber').hasError('required')">
                                Numer mieszkania jest za krótki
                            </mat-error>
                            <mat-error
                                *ngIf="form.get('address').get('houseNumber').hasError('maxlength') && !form.get('address').get('houseNumber').hasError('required')">
                                Numer mieszkania jest za długi
                            </mat-error>
                            <mat-error *ngIf="form.get('address').get('houseNumber').hasError('required')">
                                Numer mieszkania jest <strong>wymagany</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field>
                            <input matInput placeholder="Kod pocztowy" formControlName="postCode">
                            <mat-error
                                *ngIf="form.get('address').get('postCode').hasError('minlength') && !form.get('address').get('postCode').hasError('required')">
                                Kod pocztowy jest za krótki
                            </mat-error>
                            <mat-error
                                *ngIf="form.get('address').get('postCode').hasError('maxlength') && !form.get('address').get('postCode').hasError('required')">
                                Kod pocztowy jest za długi
                            </mat-error>
                            <mat-error *ngIf="form.get('address').get('postCode').hasError('required')">
                                Imię jest <strong>wymagane</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="d-flex justify-content-center">
                    <button [disabled]="form.invalid" class="btn btn-success text-white mb-2">Wyślij</button>
                </div>
            </div>
        </div>
    </form>
</div>