mat-form-field{
    width:100%;
}

table{
    width: 100%;
    table-layout: fixed;
}

.box {
    overflow: auto;
  }

  th,td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }