.divider {
    border-right: solid 1px #DEE2E6; 
  }

.box{
    overflow:auto;
  }

  .bankAccount{
    display: flex;
    *{
      padding: 0 3px;
    }
  }
  .accountNumber{
    font-weight: normal;
  }
  .balance{
    font-weight: bold;
    margin-left: auto;
  }