<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container"><button *ngIf="Pwa.promptEvent" (click)="installPwa()">
    Install
  </button>
    <div class="bg-dark text-white sidebar-heading" routerLink="/">Wirtualny serwis</div>
      <a class="navbar-brand" *ngIf="!authService.isTokenExpired()" routerLink="/core">Index</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav w-100 justify-content-end">

        <li class="nav-item active" *ngIf="authService.isTokenExpired()">
          <a class="nav-link" routerLink="login">Logowanie</a>
        </li>

        <li class="nav-item active" *ngIf="authService.isTokenExpired()">
          <a class="nav-link" routerLink="register">Rejestracja</a>
        </li>

        <span *ngIf="!authService.isTokenExpired() && isMobileView">
          <span *ngIf="authService.hasUserRole()">
            <li class="nav-item">
              <a class="nav-link" routerLink="core/bankAccounts">Moje konta<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Nowy przelew
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="core/transactions/create">Przelew standardowy</a>
                <a class="dropdown-item" routerLink="core/transactions/create/multicurrency">Przelew wielowalutowy</a>
                <a class="dropdown-item" routerLink="core/transactions/defined">Przelewy zdefiniowane</a>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="core/exchange">Wymiana walut</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Kredyty
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="core/credits/create">Nowy kredyt</a>
                <a class="dropdown-item" routerLink="core/credits/list">Historia kredytów</a>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Lokaty
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="core/investments/create">Nowa lokata</a>
                <a class="dropdown-item" routerLink="core/investments/list">Moje lokaty</a>
              </div>
            </li>
          </span>
          
          <span *ngIf="authService.hasAdminRole()">
            <li class="nav-item">
              <a class="nav-link" routerLink="core/admin/stat">Statystyki</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="core/admin/employees">Pracownicy</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="core/admin/stat">Statystyki</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="core/admin/support">Zgłoszenia</a>
            </li>
          </span>

          <span *ngIf="authService.hasEmployeeRole()">
            <li class="nav-item">
              <a class="nav-link" routerLink="core/employee/payment/create">Wpłaty</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="core/employee/credits">Kredyty</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="core/employee/support">Zgłoszenia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="core/profile">Profil</a>
            </li>
          </span>
        </span>

        <li class="nav-item active" *ngIf="!authService.isTokenExpired()">
          <a class="nav-link" routerLink="/login">Wyloguj</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">

      </ul>
    </div>
  </div>
</nav>