<div mat-dialog-content>
    <div *ngIf="bankAccounts && template">
        <h1 mat-dialog-title>SZablon (dodac nazwe do szalbonow)</h1>
        <mat-form-field class="col-md-6">
            <input matInput placeholder="Nazwa" [(ngModel)]="template.name" required>
        </mat-form-field>
        <mat-form-field class="col-12">
            <mat-label class="mt-2">Rachunek bankowy</mat-label>
            <mat-select [(ngModel)]="template.sourceAccountNumber" (change)="changeCurrencyList()">
                <mat-option *ngFor="let bankAccount of bankAccounts" [value]="bankAccount.number">
                    {{bankAccount.number}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <label id="example-radio-group-label">Typ przelewu:</label>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
            [(ngModel)]="standardType">
            <mat-radio-button class="example-radio-button" [value]="true">
                Standardowy
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" [value]="false">
                Wielowalutowy
            </mat-radio-button>
        </mat-radio-group>
        <mat-form-field class="col-12">
            <input matInput placeholder="Konto odbiorcy" [(ngModel)]="template.destinedAccountNumber" required>
        </mat-form-field>

        <mat-form-field class="col-md-6">
            <input matInput placeholder="Kwota" [(ngModel)]="template.balance" required>
        </mat-form-field>

        <mat-form-field class="col-md-6">
            <input matInput placeholder="Tytułem" [(ngModel)]="template.title" required>
        </mat-form-field>
        <p *ngIf="standardType === true">asd</p>
    </div>
    <div *ngIf="!bankAccounts || !template">
        <mat-spinner class="mx-auto my-auto"></mat-spinner>
    </div>
</div>
<div mat-dialog-actions align="center">
    <button mat-button [mat-dialog-close]="template" cdkFocusInitial>Ok</button>
    <button mat-button (click)="onNoClick()">Anuluj</button>
</div>