<div class="box mat-elevation-z8">
    <div *ngIf="templates">
        <mat-toolbar>
            Przelewy zdefiniowane
            <div class="ml-auto">
                <mat-slide-toggle *ngIf="templates.length > 0" (change)="switchDeleteStatus()" color="warn"><span
                        style="font-size: 14px">Usuwanie</span></mat-slide-toggle>

                <!-- <button mat-raised-button class="ml-auto" style="background-color: #5cb85c; color: white"
            (click)="switchDeleteStatus()">Poo</button>
 -->
                <button class="ml-1" mat-raised-button style="background-color: #5cb85c; color: white"
                    (click)="openDialog()">Utwórz
                </button>
            </div>
        </mat-toolbar>

        <mat-divider></mat-divider>

        <table mat-table [(dataSource)]="templates" *ngIf="templates.length > 0">

            <ng-container matColumnDef="select" [style.display]="'none'">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

         <!--    <ng-container matColumnDef="ID">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container> -->

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Nazwa</th>
                <td mat-cell *matCellDef="let element">
                    {{ (element.templateName?.length > 20)? (element.templateName | slice:0:20)+'..':(element.templateName)}}
                </td>
            </ng-container>

            <ng-container matColumnDef="sourceAccountNumber">
                <th mat-header-cell *matHeaderCellDef>Źródłowy numer konta</th>
                <td mat-cell *matCellDef="let element">
                    <div matTooltip="{{element.sourceAccountNumber}}">
                        {{element.sourceAccountNumber | slice:0:2}}...{{element.sourceAccountNumber | slice:22:26}}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="destinedAccountNumber">
                <th mat-header-cell *matHeaderCellDef>Docelowy numer konta</th>
                <td mat-cell *matCellDef="let element">
                    <div matTooltip="{{element.destinedAccountNumber}}">
                        {{element.destinedAccountNumber | slice:0:2}}...{{element.destinedAccountNumber | slice:22:26}}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="sourceCurrency">
                <th mat-header-cell *matHeaderCellDef>Waluta</th>
                <td mat-cell *matCellDef="let element">{{element.sourceCurrency}} </td>
            </ng-container>

            <ng-container matColumnDef="balance">
                <th mat-header-cell *matHeaderCellDef>Kwota</th>
                <td mat-cell *matCellDef="let element">{{element.balance}}
                </td>
            </ng-container>

            <ng-container matColumnDef="create">
                <th mat-header-cell *matHeaderCellDef>Przelew</th>
                <td mat-cell *matCellDef="let element"><button *ngIf="!element.multiCurrency" mat-raised-button
                        color="primary" [routerLink]="['/core/transactions', 'create']"
                        [queryParams]="{defined: element.id}">Wykonaj</button>
                    <button mat-raised-button color="primary" *ngIf="element.multiCurrency"
                        [routerLink]="['/core/transactions/', 'create', 'multicurrency']"
                        [queryParams]="{defined: element.id}">Wykonaj</button>
                </td>
            </ng-container>

            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef>Edycja</th>
                <td mat-cell *matCellDef="let element"><button mat-raised-button color="primary"
                        (click)="openDialog(element.id)">Edytuj</button>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="headers; sticky: true">
            </tr>
            <tr mat-row *matRowDef="let row; columns: headers;">
            </tr>
        </table>
        <div *ngIf="templates.length === 0">
            <div class="mx-3 my-3">
                <h5>Brak przelewów zdefiniowanych</h5>
            </div>
        </div>
        <mat-toolbar *ngIf="isRemoving">
            <button mat-raised-button class="ml-auto" style="background-color: #5cb85c; color: white"
                (click)="removeSelectedRows()">Usuń zaznaczone</button>

        </mat-toolbar>
    </div>
    <div *ngIf="!templates">
        <mat-spinner></mat-spinner>
    </div>
</div>