<div class="example-container mat-elevation-z8">
    <mat-toolbar>
        <h3>Przelewy zdefiniowane</h3>
        <button mat-raised-button class="ml-auto" style="background-color: #5cb85c; color: white"
            (click)="openDialog()">Utwórz przelew zdefiniowany</button>
    </mat-toolbar>

    <mat-divider></mat-divider>

    <table mat-table [dataSource]="templates">

        <ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>


        <ng-container matColumnDef="sourceAccountNumber">
            <th mat-header-cell *matHeaderCellDef>Źródłowy numer konta</th>
            <td mat-cell *matCellDef="let element"> {{element.sourceAccountNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="destinedAccountNumber">
            <th mat-header-cell *matHeaderCellDef>Docelowy numer konta</th>
            <td mat-cell *matCellDef="let element"> {{element.destinedAccountNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="sourceCurrency">
            <th mat-header-cell *matHeaderCellDef>Waluta</th>
            <td mat-cell *matCellDef="let element">{{element.sourceCurrency}} </td>
        </ng-container>

        <ng-container matColumnDef="balance">
            <th mat-header-cell *matHeaderCellDef>Kwota</th>
            <td mat-cell *matCellDef="let element">{{element.balance}}
            </td>
        </ng-container>

        <ng-container matColumnDef="create">
            <th mat-header-cell *matHeaderCellDef>Przelew</th>
            <td mat-cell *matCellDef="let element"><button mat-raised-button color="primary"
                    [routerLink]="['/transactions', 'create']" [queryParams]="{defined: element.id}">Wykonaj</button>
            </td>
        </ng-container>

        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Edycja</th>
            <td mat-cell *matCellDef="let element"><button mat-raised-button color="primary"
                    (click)="openDialog(element.id)">Edytuj</button>
            </td>
        </ng-container>

        <tr mat-header-row
            *matHeaderRowDef="['ID', 'sourceAccountNumber', 'destinedAccountNumber', 'sourceCurrency', 'balance', 'create', 'edit']; sticky: true">
        </tr>
        <tr mat-row
            *matRowDef="let row; columns: ['ID', 'sourceAccountNumber', 'destinedAccountNumber', 'sourceCurrency', 'balance', 'create', 'edit'];">
        </tr>
    </table>
</div>