<div class="box mat-elevation-z8">
    <mat-toolbar>Wnioski o kredyt</mat-toolbar>
    <div [hidden]="isLoading || (credits && credits.data.length === 0)">
        <table mat-table [dataSource]="credits">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}}</td>
            </ng-container>

            <ng-container matColumnDef="totalBalance">
                <th mat-header-cell *matHeaderCellDef> Wysokość kredytu </th>
                <td mat-cell *matCellDef="let element"> {{element.totalBalance}}
                </td>
            </ng-container>

            <ng-container matColumnDef="destinedAccount">
                <th mat-header-cell *matHeaderCellDef> Konto docelowe </th>
                <td mat-cell *matCellDef="let element">
                    <div matTooltip="{{element.destinedSaldoId}} (naciśnij aby skopiować)"
                        (click)="copyToClipboard(element.destinedSaldoId)">
                        {{element.destinedSaldoId | slice:0:2}}...{{element.destinedSaldoId | slice:22:26}}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="totalInstallmentCount">
                <th mat-header-cell *matHeaderCellDef> Ilość rat </th>
                <td mat-cell *matCellDef="let element"> {{element.totalInstallmentCount}}
                </td>
            </ng-container>

            <ng-container matColumnDef="currency">
                <th mat-header-cell *matHeaderCellDef> Waluta </th>
                <td mat-cell *matCellDef="let element"> {{element.currency}}
                </td>
            </ng-container>

            <ng-container matColumnDef="accept">
                <th mat-header-cell *matHeaderCellDef> Akceptuj </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button class="bg-success text-white"
                        (click)="acceptCredit(element.id)">Akceptuj</button>
                </td>
            </ng-container>

            <ng-container matColumnDef="reject">
                <th mat-header-cell *matHeaderCellDef> Odrzuć </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button class="bg-danger text-white"
                        (click)="rejectCredit(element.id)">Odrzuć</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="creditsColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: creditsColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
    <div class="col-12" *ngIf="credits && credits.data.length === 0">
        Brak kredytów do rozpatrzenia
    </div>
    <mat-toolbar>Wyszukiwanie kredytów</mat-toolbar>
    <form class="example-form" [formGroup]="searchForm" (ngSubmit)="searchCredit()">
        <div class="col-12 mt-1">
            <mat-form-field>
                <input matInput placeholder="ID kredytu" type="number" formControlName="id">
            </mat-form-field>
            <button mat-raised-button class="bg-success text-white mb-2 ml-2">Szukaj</button>
        </div>
    </form>

    <div *ngIf="credit">

        <table class="table table-hover">
            <tr>
                <td class="divider">ID: </td>
                <td>{{ credit.id }}</td>
            </tr>
            <tr>
                <td class="divider">Wpłacono: </td>
                <td>{{ credit.balancePaid }}</td>
            </tr>
            <tr>
                <td class="divider">Wysokość kredytu: </td>
                <td>{{ credit.totalBalance }}</td>
            </tr>
            <tr>
                <td class="divider">Waluta: </td>
                <td>{{ credit.currency }}</td>
            </tr>
            <tr>
                <td class="divider">Status: </td>
                <td>
                    <p *ngIf="credit.creditStatus.creditType === 'ACTIVE'">Aktywny</p>
                    <p *ngIf="credit.creditStatus.creditType === 'AWAITING'">Oczekujący</p>
                    <p *ngIf="credit.creditStatus.creditType === 'CANCELED'">Usunięty</p>
                    <p *ngIf="credit.creditStatus.creditType === 'PAID'">Spłacony</p>
                </td>
            </tr>
            <tr>
                <td class="divider">Zmień status</td>
                <td>
                    <button mat-raised-button class="bg-success text-white" (click)="changeStatus()">Zmień
                        status</button>
                </td>
            </tr>
        </table>
    </div>
</div>