<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <!-- 
        <div class="bg-dark text-white sidebar-heading">Wirtualny bank</div> -->
        <div class="list-group list-group-flush border-right">

            <mat-accordion>
                <mat-expansion-panel *ngIf="authService.hasUserRole()">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Podsumowanie
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a routerLink="bankAccounts" class="list-group-item list-group-item-action ">
                        <fa-icon [icon]="faMoneyBillWave"></fa-icon> Rachunki bankowe
                    </a>
                    <a routerLink="credits/create" class="list-group-item list-group-item-action">
                        Moje kredyty
                    </a>
                </mat-expansion-panel>


                <mat-expansion-panel *ngIf="authService.hasUserRole()">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <fa-icon [icon]="faMoneyBillWave"></fa-icon> Przelewy
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a routerLink="transactions/create" class="list-group-item list-group-item-action ">
                        Przelew standardowy
                    </a> <a routerLink="transactions/create/multicurrency"
                        class="list-group-item list-group-item-action ">
                        Przelew wielowalutowy
                    </a><a routerLink="transactions/defined" class="list-group-item list-group-item-action ">
                        Przelewy zdefiniowane
                    </a>
                </mat-expansion-panel>
                <mat-expansion-panel *ngIf="authService.hasUserRole()">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <fa-icon [icon]="faHandshake"></fa-icon> Wymiana
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a routerLink="exchange" class="list-group-item list-group-item-action">
                        Kantor
                    </a>
                    <a routerLink="transactions/create" class="list-group-item list-group-item-action">
                        Kalkulator
                    </a>
                </mat-expansion-panel>
                <mat-expansion-panel *ngIf="authService.hasUserRole()">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <fa-icon [icon]="faHandHolding"></fa-icon> Kredyty
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a routerLink="credits/create" class="list-group-item list-group-item-action">
                        Nowy kredyt
                    </a>
                    <a routerLink="credits/create" class="list-group-item list-group-item-action">
                        Historia wpłat
                    </a>
                </mat-expansion-panel>
                <mat-expansion-panel *ngIf="authService.hasUserRole()">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <fa-icon [icon]="faUniversity"></fa-icon> Lokaty
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a href="#" class="list-group-item list-group-item-action">
                        Lokaty
                    </a>
                </mat-expansion-panel>

                <mat-expansion-panel *ngIf="authService.hasUserRole()" hideToggle="true" disabled="true">
                        <mat-expansion-panel-header class="single-panel">
                            <mat-panel-title>
                                <a routerLink="support" class="list-group-item list-group-item-action ">
                                 Zgłoszenia
                                </a>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                    </mat-expansion-panel>

                <mat-expansion-panel *ngIf="authService.hasAdminRole()" hideToggle="true" disabled="true">
                    <mat-expansion-panel-header class="single-panel">
                        <mat-panel-title>
                            <a routerLink="admin/stat" class="list-group-item list-group-item-action ">
                                Statystyki
                            </a>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>

                <mat-expansion-panel *ngIf="authService.hasAdminRole()" hideToggle="true" disabled="true">
                    <mat-expansion-panel-header class="single-panel">
                        <mat-panel-title>
                            <a routerLink="admin/employees" class="list-group-item list-group-item-action ">
                                Pracownicy
                            </a>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>

                <mat-expansion-panel *ngIf="authService.hasAdminRole()" hideToggle="true" disabled="true">
                    <mat-expansion-panel-header class="single-panel">
                        <mat-panel-title>
                            <a routerLink="admin/support" class="list-group-item list-group-item-action ">
                                Zgłoszenia
                            </a>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>

                <mat-expansion-panel *ngIf="authService.hasEmployeeRole()" hideToggle="true" disabled="true">
                        <mat-expansion-panel-header class="single-panel">
                            <mat-panel-title>
                                <a routerLink="employee/payment/create" class="list-group-item list-group-item-action ">
                                    Wpłaty
                                </a>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                    </mat-expansion-panel>

                    <mat-expansion-panel *ngIf="authService.hasEmployeeRole()" hideToggle="true" disabled="true">
                            <mat-expansion-panel-header class="single-panel">
                                <mat-panel-title>
                                    <a routerLink="employee/credits" class="list-group-item list-group-item-action ">
                                        Kredyty
                                    </a>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                        </mat-expansion-panel>

                <mat-expansion-panel *ngIf="authService.hasEmployeeRole()" hideToggle="true" disabled="true">
                        <mat-expansion-panel-header class="single-panel">
                            <mat-panel-title>
                                <a routerLink="employee/users" class="list-group-item list-group-item-action ">
                                    Użytkownicy
                                </a>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                    </mat-expansion-panel>

                <mat-expansion-panel *ngIf="authService.hasEmployeeRole()" hideToggle="true" disabled="true">
                    <mat-expansion-panel-header class="single-panel">
                        <mat-panel-title>
                            <a routerLink="employee/support" class="list-group-item list-group-item-action ">
                                Zgłoszenia
                            </a>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>

                <mat-expansion-panel *ngIf="!authService.isTokenExpired()" hideToggle="true" disabled="true">
                        <mat-expansion-panel-header class="single-panel">
                            <mat-panel-title>
                                <a routerLink="profile" class="list-group-item list-group-item-action ">
                                    Profil
                                </a>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                    </mat-expansion-panel>

            </mat-accordion>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->
    <div id="page-content-wrapper">
        <!--   <app-navbar></app-navbar>
      -->
        <div class="col-md-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>