<div class="main-div">
    <mat-card>
        <mat-toolbar>Logowanie</mat-toolbar>
        <form [formGroup]="form" (ngSubmit)="login()">
            <mat-form-field class="mt-2">
                <input matInput placeholder="Identyfikator" type="text" pattern="[0-9]*" formControlName="username">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Hasło" type="password" formControlName="password">
            </mat-form-field>
            <button mat-raised-button class="bg-success text-white">Zaloguj</button>
        </form>
    </mat-card>
</div>