<div class="box mat-elevation-z8">
    <div *ngIf="bankAccounts">
        <mat-toolbar>
            Nowy kredyt
        </mat-toolbar>
        <form [formGroup]="form">
            <div class="col-md-10">

                Kwota:
                <ng5-slider [(value)]="balanceSliderValue" (valueChange)="calculateInstallment($event)"
                    [options]="balanceSlider"></ng5-slider>

                Ilość wpłat:
                <ng5-slider [(value)]="monthSliderValue" (valueChange)="calculateInstallment($event)"
                    [options]="monthSlider"></ng5-slider>

                Wysokość wpłaty: {{ installmentValue }}

                <mat-form-field style="width:100%">
                    <mat-label class="mt-2">Rachunek bankowy</mat-label>
                    <mat-select [(ngModel)]="selectedBankAccount" [ngModelOptions]="{standalone: true}">
                        <mat-option *ngFor="let bankAccount of bankAccounts" [value]="bankAccount">
                            {{bankAccount.number}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field style="width:100%">
                    <mat-label class="mt-2">Saldo</mat-label>
                    <mat-select formControlName="destinedSaldoId">
                        <mat-option *ngFor="let saldo of selectedBankAccount?.saldos" [value]="saldo.id">
                            {{ saldo.currencyType.currency}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <button mat-raised-button color="primary" (click)="createCredit()">Wyślij</button>
            </div>
        </form>
    </div>
    <div *ngIf="!bankAccounts">
        <mat-spinner></mat-spinner>
    </div>
</div>