<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Numer</th>
        <th scope="col">Wielowalutowość</th>
        <th scope="col">Salda</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bankAccount of bankAccounts">
        <th scope="row">{{ bankAccount.id }}</th>
        <td>{{ bankAccount.number }}</td>
        <td>{{ bankAccount.multiCurrency }}</td>
        <td><div *ngFor="let saldo of bankAccount.saldos">{{saldo.id}} {{saldo.balance}}</div></td>
      </tr>
    </tbody>
  </table>