<div class="box mat-elevation-z8">
    <mat-toolbar>Statystyki</mat-toolbar>
    <div class="container">

        Rodzaje walut
        <div *ngIf="currencyTypes">
            <div class="row">
                <table mat-table [dataSource]="currencyTypes">

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Nazwa </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="exchangeRate">
                        <th mat-header-cell *matHeaderCellDef> Kurs </th>
                        <td mat-cell *matCellDef="let element"> {{element.exchangeRate}} </td>
                    </ng-container>

                    <ng-container matColumnDef="edit">
                        <th mat-header-cell *matHeaderCellDef> Edycja </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-raised-button color="primary" class="mr-2"
                                (click)="openCurrencyTypeEditDialog(element.id)">Edytuj</button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="currencyTypesColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: currencyTypesColumns;"></tr>
                </table>
            </div>
        </div>
        <hr />

        Rodzaje rachunków bankowych
        <div *ngIf="bankAccountTypes">
            <table mat-table [dataSource]="bankAccountTypes">

                <ng-container matColumnDef="bankAccountType">
                    <th mat-header-cell *matHeaderCellDef> Rodzaj </th>
                    <td mat-cell *matCellDef="let element"> <span
                            *ngIf="element.bankAccountType === 'MULTI_CURRENCY'">Wielowalutowe</span>
                        <span *ngIf="element.bankAccountType === 'STANDARD'">Standardowe</span>
                        <span *ngIf="element.bankAccountType === 'STUDENT'">Studenckie</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="transactionComission">
                    <th mat-header-cell *matHeaderCellDef> Prowizja od przelewu </th>
                    <td mat-cell *matCellDef="let element"> {{element.transactionComission}}% </td>
                </ng-container>

                <ng-container matColumnDef="exchangeCurrencyCommission">
                    <th mat-header-cell *matHeaderCellDef> Prowizja wymiany walut </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.exchangeCurrencyCommission > 0 ? element.exchangeCurrencyCommission + '%' : '-'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef> Edycja </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-raised-button color="primary" class="mr-2"
                            (click)="openBankAccTypeEditDialog(element.id)">Edytuj</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="bankAccountTypesColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: bankAccountTypesColumns;"></tr>
            </table>

            <hr/>
            <div class="row">
                <div class="col-md-6">
                    <p class="text-center">Rachunki bankowe</p>
                    <div *ngIf="chartDatasets && chartDatasets[0].data.length === bankAccountTypes.length">
                        <canvas mdbChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels"
                            [colors]="chartColors" [options]="chartOptions" [legend]="true"
                            (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                        </canvas>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="text-center">Kredyty</p>
                    <div *ngIf="creditChartDatasets && creditChartDatasets[0].data.length === creditStatuses?.length">
                        <canvas mdbChart [chartType]="creditChartType" [datasets]="creditChartDatasets"
                            [labels]="creditChartLabels" [colors]="creditChartColors" [options]="creditChartOptions"
                            [legend]="true" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>