<div class="box mat-elevation-z8">
    <mat-toolbar>
        Przelew standardowy
    </mat-toolbar>
    <mat-horizontal-stepper linear #stepper>
        <mat-step [stepControl]="transactionForm">
            <form [formGroup]="transactionForm">
                <ng-template matStepLabel>Formularz</ng-template>
                <div class="row">
                    <div class="col-sm-12 mb-1">
                        Wybierz rachunek bankowy
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-10">
                        <mat-form-field style="width:100%">
                            <mat-label class="mt-2">Rachunek bankowy</mat-label>
                            <mat-select formControlName="sourceAccountNumber" (change)="changeCurrencyList()">
                                <mat-option *ngFor="let bankAccount of bankAccounts; let i = index"
                                    [value]="bankAccount.number">
                                    <div class="bankAccount">
                                        <span class="accountNumber">{{bankAccount.number}} </span>
                                        <span class="balance">{{ getAvailableFunds(bankAccount) }}zł</span>
                                    </div>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>

                <hr>
                Na rachunek
                <div class="row">
                    <div class="col-sm-12 col-md-8">
                        <mat-form-field style="width: 100%">
                            <input matInput placeholder="Konto odbiorcy" formControlName="destinedAccountNumber"
                                required>
                            <mat-error *ngIf="transactionForm.get('destinedAccountNumber').hasError('accountNumber')">
                                Numer konta musi mieć <strong>26 cyfr</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                Kwota</div>
                        </div>
                        <mat-form-field style="width: 100%">
                            <input matInput placeholder="Kwota" formControlName="balance" required>
                            <mat-error *ngIf="transactionForm.get('balance').hasError('required')">
                                Kwota jest <strong>wymagana</strong>
                            </mat-error>
                            <mat-error
                                *ngIf="transactionForm.get('balance').hasError('min') && !transactionForm.get('balance').hasError('required')">
                                Kwota musi być większa od <strong>0</strong>
                            </mat-error>
                            <mat-error
                                *ngIf="transactionForm.get('balance').hasError('max') && !transactionForm.get('balance').hasError('required')">
                                Kwota musi być mniejsza od <strong>1000000</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                Tytułem</div>
                        </div>
                        <mat-form-field style="width: 100%">
                            <input matInput placeholder="Tytuł" formControlName="title" required>
                            <mat-error *ngIf="transactionForm.get('title').hasError('required')">
                                Tytuł jest <strong>wymagany</strong>
                            </mat-error>
                            <mat-error
                                *ngIf="transactionForm.get('title').hasError('minlength') && !transactionForm.get('title').hasError('required')">
                                Tytuł jest za <strong>krótki</strong>
                            </mat-error>
                            <mat-error
                                *ngIf="transactionForm.get('title').hasError('maxlength') && !transactionForm.get('title').hasError('required')">
                                Tytuł jest za <strong>długi</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div>
                    <button mat-raised-button color="primary" matStepperNext>Dalej</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="transactionForm">
            <form [formGroup]="transactionForm">
                <ng-template matStepLabel>Podsumowanie</ng-template>
                <table class="table table-hover">
                    <tr>
                        <td class="divider">Rachunek bankowy: </td>
                        <td>{{ transactionForm.get('sourceAccountNumber').value }}</td>
                    </tr>
                    <tr>
                        <td class="divider">Docelowy rachunek: </td>
                        <td>{{ transactionForm.get('destinedAccountNumber').value }}</td>
                    </tr>
                    <tr>
                        <td class="divider">Kwota: </td>
                        <td>{{ transactionForm.get('balance').value }} PLN</td>
                    </tr>
                    <tr>
                        <td class="divider">Tytuł: </td>
                        <td>{{ transactionForm.get('title').value }}</td>
                    </tr>
                </table>
                <div>
                    <button mat-raised-button color="warn" class="mr-2" matStepperPrevious>Wstecz</button>
                    <button mat-raised-button color="primary" (click)="createTransaction()"
                        matStepperNext>Wyślij</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Koniec</ng-template>
            <div *ngIf="!errors">Transakcja zakończona</div>
            <div *ngIf="errors">
                <p class="text-danger">Transakcja zakończona niepowodzeniem</p>
                <p>Powód: {{ errorText }}</p>
            </div>
            <div>
                <button mat-button matStepperPrevious>Wysłanie</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>