/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


.blue-snackbar{
    background-color: #0062CC;   
}

.red-snackbar{
    background-color: #ff002f;
}

.green-snackbar{
    color: black;
    background-color: #27D20D;
}